.env
venv/
Data/__pycache__/
Data/load_data.py
Vectorizer/bert-model/
Vectorizer/malaysian-debartav-base/
Vectorizer/multilingual-e5-large/
Vectorizer/download_model.py
Vectorizer/__pycache__/
add_data.py
create_database.py
update_database.py
Data/model-2-database.db
Data/model-3-database.db
Data/model-4-database.db
Vectorizer/google-canine-c/


